:root {
  --border-bottom--1: 2px solid rgba(139, 137, 137, 0.948);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 32px;
  color: red;
}

body {
  background-image: radial-gradient(
    circle 489px at 49.3% 46.6%,
    rgba(255, 214, 126, 1) 0%,
    rgba(253, 200, 0, 1) 100.2%
  );
}
.ticket {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: var(--border-bottom--1);
}

h1 {
  margin-top: 30px;
  margin-left: 25px;
  font-size: 60px;
  font-weight: bold;
}

.confirm {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  border-bottom: var(--border-bottom--1);
}

.confirm div {
  margin-bottom: 20px;
}

.confirm p {
  font-style: italic;
  font-size: 25px;
}

.fligDet {
  border-bottom: var(--border-bottom--1);
  /* margin-bottom: 60px; */
}

.fligDet h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: blue;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.info p {
  font-size: 20px;
}

.wrapper {
  text-align: center;
  margin-top: 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background-color: rgb(112, 17, 237);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: #fff;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.btn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.btn2 {
  background-color: rgb(241, 10, 10);
  color: white;
  margin-left: 15px;
}

.btn2:active {
  color: white;
  box-shadow: 0 0.2rem rgb(241, 10, 10);
  transform: translateY(0.2rem);
}

@media (max-width: 600px) {
  img {
    height: 50px;
    margin-top: 18px;
  }
  h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
  }

  .confirm p {
    font-size: 18px;
  }

  .fligDet h2 {
    text-align: center;
    font-size: 30px;
  }
  .fligDet div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
